<p-growl [value]="_msgs" life=10000></p-growl>

<div id="mapid" style="width: 100%; height: 700px;"></div>

<hr>

<div>Flight Plan Loading and Saving</div>

<table>
	<tr>
		<td>
			<input class="dashboard-card-item" type="button" value="Load flight plan ..." onclick="document.getElementById('selectedJsonFile').click();"
			/>
			<input class="dashboard-card-item" type="file" id="selectedJsonFile" style="display: none;" #jsonFileDialog (change)="addJsonFile(jsonFileDialog)"
			/>
		</td>
		<td>
			<button class="dashboard-card-item" (click)="saveFlightplanJson()">Save flight plan ...</button>
		</td>
		<td>
			<input class="dashboard-card-item" type="button" value="Import from Kmz ..." onclick="document.getElementById('selectedKmzFile').click();"
			/>
			<input class="dashboard-card-item" type="file" id="selectedKmzFile" style="display: none;" #kmzFileDialog (change)="addKmzFile(kmzFileDialog)"
			/>
		</td>
		<td>
			<input class="dashboard-card-item" type="button" value="Import from Mavlink ..." onclick="document.getElementById('selectedMavlinkFile').click();"
			/>
			<input class="dashboard-card-item" type="file" id="selectedMavlinkFile" style="display: none;" #mavlinkFileDialog (change)="addMavlinkFile(mavlinkFileDialog)"
			/>
		</td>
	</tr>
</table>

<hr>

<div>Flight Plan Editing</div>
<ul>
	<li>You need to start with an existing *.kmz (Google Maps) or *.mavlink (Flight plan) to start editing.</li>
	<li>If you load a mavlink file. The first line must be "QGC WPL 120 [name of your flightplan]". </li>
	<li>Click a waypoint circle to edit the properties of a single waypoint. Click the button to apply the changes.</li>
	<li>Click the red flight path to drag waypoints or create new ones. Click it again to apply the changes. Beware: if waypoints
		are added, waypoint properties are reset.</li>
	<li>Click the take-off or touch-down icon to drag / move its position. Click it again to apply the changes.</li>
</ul>
<table>
	<tr>
		<td>
			<button class="dashboard-card-item" (click)="addIntermediateWaypoints()">Insert waypoints every</button>
		</td>
		<td>
			<p-dropdown [style]="{'width':'100px', 'margin':'0px 0px 0px 0px'}" [options]="this._waypointDistances" [(ngModel)]="this._flightplanViewModel.selectedWaypointDistance"></p-dropdown> [m]
		</td>
		<td>
			<button class="dashboard-card-item" (click)="setBearingToCenter()">Reset bearing to flight path center</button>
			<button class="dashboard-card-item" (click)="setBearing()">Reset bearing for all waypoints to</button>
		</td>
		<td>
			<p-dropdown [style]="{'width':'100px', 'margin':'0px 0px 0px 0px'}" [options]="this._bearings" [(ngModel)]="this._flightplanViewModel.selectedBearing"></p-dropdown> [deg]
		</td>
	</tr>
	<tr>
		<td>
			<button class="dashboard-card-item" (click)="setWaypointRadius()">Reset radius for all waypoints</button>
		</td>
		<td>
			<p-dropdown [style]="{'width':'100px', 'margin':'0px 0px 0px 0px'}" [options]="this._waypointRadii" [(ngModel)]="this._flightplanViewModel.selectedWaypointRadius"></p-dropdown> [m]
		</td>
		<td>
			<button class="dashboard-card-item" (click)="setAltitude()">Reset altitude for all waypoints</button>
		</td>
		<td>
			<p-dropdown [style]="{'width':'100px', 'margin':'0px 0px 0px 0px'}" [options]="this._altitudes" [(ngModel)]="this._flightplanViewModel.selectedAltitude"></p-dropdown> [m]
		</td>
	</tr>
</table>

<div *ngIf="this._flightplanViewModel.selectedWaypointIndex > -1">
	<hr>
	<div>Edit Waypoint {{this._flightplanViewModel.selectedWaypointIndex}}</div>
	<table>
		<tr>
			<td>
				<label>Lat:</label><input [ngModel]="this._flightplanViewModel.selectedWaypoint.latitude" (ngModelChange)="this._flightplanViewModel.selectedWaypoint.latitude = $event">

			</td>
			<td>
				<label>Lon:</label><input [ngModel]="this._flightplanViewModel.selectedWaypoint.longitude" (ngModelChange)="this._flightplanViewModel.selectedWaypoint.longitude = $event">
			</td>
			<td>
				<label>Alt:</label><input [ngModel]="this._flightplanViewModel.selectedWaypoint.altitude" (ngModelChange)="this._flightplanViewModel.selectedWaypoint.altitude = $event">
			</td>
		</tr>
		<tr>
			<td>
				<label>Bearing:</label><input [ngModel]="this._flightplanViewModel.selectedWaypoint.orientation" (ngModelChange)="this._flightplanViewModel.selectedWaypoint.orientation = $event">

			</td>
			<td>
				<label>Radius:</label><input [ngModel]="this._flightplanViewModel.selectedWaypoint.radius" (ngModelChange)="this._flightplanViewModel.selectedWaypoint.radius = $event">
			</td>
			<td>
				<button class="dashboard-card-item" (click)="this._flightplanViewModel.updateSelectedWaypoint()">Update waypoint</button>
			</td>
		</tr>

	</table>
</div>

<hr>

<div>Visualization Options</div>

<table>
	<tr>
		<td>
			<p-checkbox label="Draw waypoint properties" [(ngModel)]="this._flightplanViewModel.drawWaypointsOn" binary="true"></p-checkbox>
		</td>
		<td>
			<p-checkbox label="Draw touch-down marker" [(ngModel)]="this._flightplanViewModel.drawTouchdownOn" binary="true"></p-checkbox>
		</td>
		<td>
			<p-checkbox label="Draw take-off marker" [(ngModel)]="this._flightplanViewModel.drawTakeoffOn" binary="true"></p-checkbox>
		</td>
	</tr>
</table>

<hr>
<div>Points of Interest</div>

<table>
	<tr>
		<td>
			<label>Latitude: </label><input [ngModel]="this._flightplanViewModel.newPointOfInterestLatitude" (ngModelChange)="this._flightplanViewModel.newPointOfInterestLatitude = $event">
		</td>
		<td>
			<label>Longitude: </label><input [ngModel]="this._flightplanViewModel.newPointOfInterestLongitude" (ngModelChange)="this._flightplanViewModel.newPointOfInterestLongitude = $event">
		</td>
		<td>
			<button class="dashboard-card-item" (click)="this._flightplanViewModel.addPointOfInterest()">Add point of interest...</button>
		</td>

	</tr>
</table>

<div *ngIf="this._flightplanViewModel.selectedPointOfInterestIndex > -1">
	<hr>
	<div>Edit Point of Interest {{this._flightplanViewModel.selectedPointOfInterestIndex}}</div>
	<table>
		<tr>
			<td>
				<label>Lat:</label><input [ngModel]="this._flightplanViewModel.selectedPointOfInterest.lat" (ngModelChange)="this._flightplanViewModel.selectedPointOfInterest.lat = $event">

			</td>
			<td>
				<label>Lng:</label><input [ngModel]="this._flightplanViewModel.selectedPointOfInterest.lng" (ngModelChange)="this._flightplanViewModel.selectedPointOfInterest.lng = $event">
			</td>
			<td>
				<button class="dashboard-card-item" (click)="this._flightplanViewModel.updateSelectedPointOfInterest()">Update point of interest</button>
			</td>
			<td>
				<button class="dashboard-card-item" (click)="this._flightplanViewModel.removeSelectedPointOfInterest()">Remove point of interest</button>
			</td>
		</tr>
	</table>
</div>

<hr>

<div>Post-processing / Generate Mavlink Output</div>
<ul>
	<li>Set the flight velocity and the time in seconds the vehicle shall wait at each waypoint.</li>
	<li> Generate the mavlink code. </li>
	<li>Then save the flight plan as a *.mavlink file by downloading the mission code.</li>
</ul>
<table>
	<tr>
		<td>
			Velocity
		</td>
		<td>
			<p-dropdown [style]="{'width':'100px', 'margin':'0px 0px 0px 0px'}" [options]="this._velocities" [(ngModel)]="this._selectedVelocity"></p-dropdown> [m/s]
		</td>
		<td>
			Hold time at WPs
		</td>
		<td>
			<p-dropdown [style]="{'width':'100px', 'margin':'0px 0px 0px 0px'}" [options]="this._holdTimes" [(ngModel)]="this._selectedHoldTime"></p-dropdown> [s]
		</td>
	</tr>
	<tr>
		<td>
			<button class="dashboard-card-item" (click)="generateMavlink()">1: Generate mavlink code</button>
		</td>
		<td>

		</td>
		<td>
			<button class="dashboard-card-item" (click)="saveFlightplanMavlink()">2: Download mavlink flight plan</button>
		</td>
		<td>

		</td>
	</tr>
</table>

<hr>

<div>Under Construction ...</div>

<table>
	<tr>
		<td>
			<button class="dashboard-card-item" (click)="this._flightplanViewModel.addFlightPolygon()">Add envelope...</button>
		</td>
		<td>
		</td>
		<!--<td>
			<button class="dashboard-card-item" (click)="toggleEditFlightPolygon()">{{(this._polygon && this._polygon.editing.enabled()) ? "Stop editing" : "Edit envelope..."}}</button>
		</td>-->
		<td>
			<button class="dashboard-card-item" (click)="this._flightplanViewModel.removeFlightPolygon()">Remove envelope</button>
		</td>
	</tr>
	<tr>
		<td>
			<button class="dashboard-card-item" (click)="this._flightplanViewModel.toggleAddFlightLevelPoints()">{{this._flightplanViewModel.addingFlightLevelPoints ? "Stop adding flight level points" : "Add flight level points..."}}</button>
		</td>
		<td>
			Altitude of next point
		</td>
		<td>
			<p-dropdown [style]="{'width':'80px', 'margin':'0px 0px 0px 0px'}" [options]="this._altitudes" [(ngModel)]="this._flightplanViewModel.selectedFlightLevelDefaultAltitude"></p-dropdown> [m]
		</td>
		<td>
			<button class="dashboard-card-item" (click)="this._flightplanViewModel.removeFlightLevelPoints()">Remove flight level points</button>
		</td>
	</tr>
	<tr *ngIf="this._flightplanViewModel.selectedFlightLevelPoint">
		<td>
			Level point {{this._flightplanViewModel.selectedFlightLevelPoint ? this._flightplanViewModel.selectedFlightLevelPoint.index
			: "none"}}
		</td>
		<td>
			Set altitude
		</td>
		<td>
			<!--<p-dropdown [style]="{'width':'80px', 'margin':'0px 0px 0px 0px'}" (onChange)="updateFlightLevelPoints($event)" [options]="this._altitudes" [(ngModel)]="this._selectedFlightLevelPoint.altitude"></p-dropdown> [m]-->
			<p-dropdown [style]="{'width':'80px', 'margin':'0px 0px 0px 0px'}" [options]="this._altitudes" [(ngModel)]="this._flightplanViewModel.selectedFlightLevelPoint.altitude"></p-dropdown> [m]
		</td>
	</tr>
</table>

<table>
	<tr>
		<td>
			<button class="dashboard-card-item" (click)="createOffsetCurves()">Create offset curves</button>
		</td>
	</tr>
</table>

<a style="display: none">
</a>