<p-growl [value]="_msgs" life=5000></p-growl>

<div id="mapid" style="width: 100%; height: 500px;"></div>

<table>
	<tr>
		<td>
			<input class="dashboard-card-item" type="button" value="Load Kmz ..." onclick="document.getElementById('selectedKmzFile').click();"
			/>
			<input class="dashboard-card-item" type="file" id="selectedKmzFile" style="display: none;" #kmzFileDialog (change)="addKmzFile(kmzFileDialog)"
			/>
		</td>
		<td>
			<input class="dashboard-card-item" type="button" value="Load Mavlink ..." onclick="document.getElementById('selectedMavlinkFile').click();"
			/>
			<input class="dashboard-card-item" type="file" id="selectedMavlinkFile" style="display: none;" #mavlinkFileDialog (change)="addMavlinkFile(mavlinkFileDialog)"
			/>
		</td>
		<td>
			<button class="dashboard-card-item" (click)="setBearingToCenter()">Center bearing</button>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<button class="dashboard-card-item" (click)="addIntermediateWaypoints()">Add waypoints</button>
		</td>
		<td>
			<p-dropdown [style]="{'width':'100px', 'margin':'0px 0px 0px 0px'}" [options]="this._waypointDistances" [(ngModel)]="this._flightplanViewModel.selectedWaypointDistance"></p-dropdown> [m]
		</td>
		<td>
			<button class="dashboard-card-item" (click)="setBearing()">Reset bearing</button>
		</td>
		<td>
			<p-dropdown [style]="{'width':'100px', 'margin':'0px 0px 0px 0px'}" [options]="this._bearings" [(ngModel)]="this._flightplanViewModel.selectedBearing"></p-dropdown> [deg]
		</td>
	</tr>
	<tr>
		<td>
			<button class="dashboard-card-item" (click)="setWaypointRadius()">Reset WP radius</button>
		</td>
		<td>
			<p-dropdown [style]="{'width':'100px', 'margin':'0px 0px 0px 0px'}" [options]="this._waypointRadii" [(ngModel)]="this._flightplanViewModel.selectedWaypointRadius"></p-dropdown> [m]
		</td>
		<td>
			<button class="dashboard-card-item" (click)="setAltitude()">Reset altitude</button>
		</td>
		<td>
			<p-dropdown [style]="{'width':'100px', 'margin':'0px 0px 0px 0px'}" [options]="this._altitudes" [(ngModel)]="this._flightplanViewModel.selectedAltitude"></p-dropdown> [m]
		</td>
	</tr>
	<tr>
		<td>
			Velocity
		</td>
		<td>
			<p-dropdown [style]="{'width':'100px', 'margin':'0px 0px 0px 0px'}" [options]="this._velocities" [(ngModel)]="this._flightplanViewModel.selectedVelocity"></p-dropdown> [m/s]
		</td>
		<td>
			Hold time at WPs
		</td>
		<td>
			<p-dropdown [style]="{'width':'100px', 'margin':'0px 0px 0px 0px'}" [options]="this._holdTimes" [(ngModel)]="this._flightplanViewModel.selectedHoldTime"></p-dropdown> [s]
		</td>
	</tr>
	<tr>
		<td>
			<button class="dashboard-card-item" (click)="generateMavlink()">Generate mavlink code</button>
		</td>
		<td>

		</td>
		<td>
			<button class="dashboard-card-item" (click)="saveFlightplan()">Download mission</button>
		</td>
		<td>

		</td>
	</tr>
</table>
<table>
	<tr>
		<td>
			<button class="dashboard-card-item" (click)="this._flightplanViewModel.addFlightPolygon()">Add envelope...</button>
		</td>
		<td>
		</td>
		<!--<td>
			<button class="dashboard-card-item" (click)="toggleEditFlightPolygon()">{{(this._polygon && this._polygon.editing.enabled()) ? "Stop editing" : "Edit envelope..."}}</button>
		</td>-->
		<td>
			<button class="dashboard-card-item" (click)="this._flightplanViewModel.removeFlightPolygon()">Remove envelope</button>
		</td>
	</tr>
	<tr>
		<td>
			<button class="dashboard-card-item" (click)="this._flightplanViewModel.toggleAddFlightLevelPoints()">{{this._flightplanViewModel.addingFlightLevelPoints ? "Stop adding flight level points" : "Add flight level points..."}}</button>
		</td>
		<td>
			Altitude of next point
		</td>
		<td>
			<p-dropdown [style]="{'width':'80px', 'margin':'0px 0px 0px 0px'}" [options]="this._altitudes" [(ngModel)]="this._flightplanViewModel.selectedFlightLevelDefaultAltitude"></p-dropdown> [m]
		</td>
		<td>
			<button class="dashboard-card-item" (click)="this._flightplanViewModel.removeFlightLevelPoints()">Remove flight level points</button>
		</td>
	</tr>
	<tr *ngIf="this._flightplanViewModel.selectedFlightLevelPoint">
		<td>
			Level point {{this._flightplanViewModel.selectedFlightLevelPoint ? this._flightplanViewModel.selectedFlightLevelPoint.index
			: "none"}}
		</td>
		<td>
			Set altitude
		</td>
		<td>
			<!--<p-dropdown [style]="{'width':'80px', 'margin':'0px 0px 0px 0px'}" (onChange)="updateFlightLevelPoints($event)" [options]="this._altitudes" [(ngModel)]="this._selectedFlightLevelPoint.altitude"></p-dropdown> [m]-->
			<p-dropdown [style]="{'width':'80px', 'margin':'0px 0px 0px 0px'}" [options]="this._altitudes" [(ngModel)]="this._flightplanViewModel.selectedFlightLevelPoint.altitude"></p-dropdown> [m]
		</td>
	</tr>
</table>

<table>
	<tr>
		<td>
			<button class="dashboard-card-item" (click)="createOffsetCurves()">Create offset curves</button>
		</td>
		<td>
			<p-checkbox label="Draw waypoint properties" [(ngModel)]="this._flightplanViewModel.drawWaypointsOn" binary="true"></p-checkbox>
		</td>
		<td>
			<p-checkbox label="Draw touch-down marker" [(ngModel)]="this._flightplanViewModel.drawTouchdownOn" binary="true"></p-checkbox>
		</td>
		<td>
			<p-checkbox label="Draw take-off marker" [(ngModel)]="this._flightplanViewModel.drawTakeoffOn" binary="true"></p-checkbox>
		</td>
	</tr>
</table>


<a style="display: none">
</a>